<aside>
    <div class="project-info">
        <div class="logo"><img src="/etc/designs/teamsite/images/work/cmoLogo.png" alt="cmo.com logo"></div>
        <div class="name"><div data-sly-resource="${'name' @ resourceType='aaa/teamsite/components/work/text'}" data-sly-unwrap></div></div>
        <div class="description"><div data-sly-resource="${'description' @ resourceType='aaa/teamsite/components/work/text'}" data-sly-unwrap></div></div>
        <div class="when">Year: <div data-sly-resource="${'year' @ resourceType='aaa/teamsite/components/work/text'}" data-sly-unwrap></div> </div>
        <!--TODO: clean up
        <div class="when">Year: <time datetime="1914-12">2014</time> TBD</div>
         -->
        <!--TODO: convert to tag field -->
        <div class="products">Categories: <div data-sly-resource="${'categories' @ resourceType='aaa/teamsite/components/work/text'}" data-sly-unwrap></div> </div>
    </div>
</aside>